# FastAPI Settings
APP_NAME="Enterprise Recommendation System"
ENV="development"
LOG_LEVEL="INFO"
HOST="0.0.0.0"
PORT=8000

# SQL Server Database Configuration
# Local Docker Container Defaults
DB_USER="DB_USER"
DB_PASSWORD="DB_PASSWORD"
DB_HOST="localhost"
DB_PORT="1433"
DB_NAME="recommendation_db"

# MLflow Tracking Configuration
MLFLOW_TRACKING_URI="http://localhost:5000"

# Filesystem Locations
MODEL_DIR="./trained_models"
